<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmember.mapper.ShippingMapper">
	<select id="getList" resultType="com.shopmember.myapp.ShippingVO" >
		select * from tblshipping where m_id = #{m_id} order by s_rdate desc 
	</select>
	<select id="getTotalCount" resultType="int">
		select count(m_id) count from tblshipping where m_id = #{m_id}
	</select>
	<insert id="insert">
		insert into tblshipping (m_id, s_zipcode, s_address01, s_address02) 
		values (#{m_id}, #{s_zipcode}, #{s_address01}, #{s_address02})
	</insert>
	<select id="read" resultType="com.shopmember.myapp.ShippingVO">
		select * from tblshipping where m_id = #{m_id}
	</select>
	<select id="readnum" resultType="com.shopmember.myapp.ShippingVO">
		select * from tblshipping where m_id = #{m_id} and s_num = #{s_num}
	</select>
 	<update id="update">
		update tblshipping set s_zipcode = #{s_zipcode}, s_address01 = #{s_address01}, 
		s_address02 = #{s_address02} where m_id = #{m_id} and s_num = #{s_num}
	</update>
	<delete id="delete">
		delete from tblshipping where s_num = #{s_num}
	</delete>
</mapper>